<div class="jumbotron" style="margin-top:50px">
  <h1 class="display-4">Welcome</h1>
  <p><strong> Hello and welcome to HACK ADGITM</strong></p>
  <hr class="my-4">
  <p>Here you can simple register as a driverUser and track you details</p>
  <a class="btn btn-primary btn-lg" href="/welcome" role="button">Lets get started</a>
</div>

<div class="container" style="text-align: center">
 <div class="row">
         <div class="col-lg-12">
              <button class="button"><a href="/team">Team </a></button>
         </div>
 </div>
</div>
