<div class="container">
   <div class="row" style="margin-top: 20px;">
        <div class="col-lg-4 col-sm-12">
              <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/shlok.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Shlok Bansal</h5>
    <p class="card-text">Btech USICT data science engineer</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
    </div>
    <div class="col-lg-4 col-sm-12">
     <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/deepak.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Deepak Malik</h5>
    <p class="card-text">Btech USICT Web Dev</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
    </div>
   <div class="col-lg-4 col-sm-12">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/gaurav.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Btech babu bihari lal college</h5>
    <p class="card-text">kuch ni chutiya hai sala</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
   </div>
    <div class="row" style="margin-top: 20px;">
           <div class="col-lg-6 col-smm-12">
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/rishabh.jpg" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Rishabh Sharma</h5>
    <p class="card-text">Btech USICT Web developer +Django</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
           </div>
           <div class="col-lg-6 col-sm-12">
                <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="images/vineetjha.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Vineet JHA</h5>
    <p class="card-text">thora sharmilaisliye no pic</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
 
   </div>
           </div>
    </div>
    
    
       
   </div>
</div>
